<%= form_with(model: place, local: true) do |form| %>
  <% if place.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(place.errors.count, "error") %> prohibited this place from being saved:</h2>

      <ul>
      <% place.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :photo %>
    <%= form.text_field :photo %>
  </div>

  <div class="field">
    <%= form.label :area %>
    <%= form.text_field :area %>
  </div>

  <div class="field">
    <%= form.label :plants %>
    <%= form.number_field :plants %>
  </div>

  <div class="field">
    <%= form.label :whales %>
    <%= form.number_field :whales %>
  </div>

  <div class="field">
    <%= form.label :birds %>
    <%= form.number_field :birds %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
