<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @place.name %>
</p>

<p>
  <strong>Photo:</strong>
  <%= @place.photo %>
</p>

<p>
  <strong>Area:</strong>
  <%= @place.area %>
</p>

<p>
  <strong>Plants:</strong>
  <%= @place.plants %>
</p>

<p>
  <strong>Whales:</strong>
  <%= @place.whales %>
</p>

<p>
  <strong>Birds:</strong>
  <%= @place.birds %>
</p>

<%= link_to 'Edit', edit_place_path(@place) %> |
<%= link_to 'Back', places_path %>
